In [11]:
import numpy as np
import pandas as pd
import os
from datetime import datetime
from dateutil.relativedelta import relativedelta
import re
import pyodbc

from pyqvd.qvd import QvdTable

In [12]:
# !python -m pip install pyqvd

In [13]:
import pyqvd
dir(pyqvd)

['DateValue',
 'DoubleValue',
 'DualDoubleValue',
 'DualIntegerValue',
 'IntegerValue',
 'IntervalValue',
 'MoneyValue',
 'QvdTable',
 'QvdValue',
 'StringValue',
 'TimeValue',
 'TimestampValue',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'io',
 'qvd']

In [14]:
input_folder = r"\\prdeqs01\QlikData\Extract"

In [15]:
qvd_path = os.path.join(input_folder, "Paragon_Claim_Line.qvd")

In [ ]:
qvd = QvdTable.from_qvd(qvd_path)
df = qvd.to_pandas()

In [ ]:
df

      group_id  Postcode       description
0        10101      2790           Lithgow
1        10101      2845           Lithgow
2        10101      2846           Lithgow
3        10101      2847           Lithgow
4        10103      2843            Mudgee
...        ...       ...               ...
3840     10845      7919  Tasmania Members
3841     10845      7920  Tasmania Members
3842     10845      7921  Tasmania Members
3843     10845      7922  Tasmania Members
3844     10845      7923  Tasmania Members

[3845 rows x 3 columns]